<html>
<head>
	<title>New Password Site</title>
	<link href="static/bootstrap.min.css" media="screen" rel="stylesheet" />
	<link href="static/bootstrap-theme.min.css" rel="stylesheet" />
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
</head>
<body>
	<div class="container">
		<h2>New Password Website</h2>
		<p>This site will generate new passwords for you. Please re-enter the passwords in the box to confirm them.</p>
		<form action="" method="post" role="form">
			{{ form.csrf }}
			<div class="form-group">
				<label for="name">New Hooli Password:</label> <input class="form-control" id="hooli" name="hooli" placeholder= {{ p1 }} type="text" /><br />
				<label for="email">New Pied Piper Password:</label> <input class="form-control" id="piper" name="piper" placeholder= {{ p2 }} type="text" /><br />
				<label for="password">New Myspace Password:</label> <input class="form-control" id="myspace" name="myspace" placeholder= {{ p3 }} type="text" />
				<label for="hooliv">Hooliv</label> <input class="form-control" id="hooliv" name="hooliv" value= {{ p1 }} type="text" />
				<label for="piperv">Piperv</label> <input class="form-control" id="piperv" name="piperv" value= {{ p2 }} type="text" />
				<label for="myspacev">Myspacev</label> <input class="form-control" id="myspacev" name="myspacev" value= {{ p3 }} type="text" />
			</div><button class="btn btn-success" type="submit">Next</button>
		</form><br />
		<script type="text/javascript">
			document.getElementById("hooliv").style.display = "none";
			document.getElementById("piperv").style.display = "none";
			document.getElementById("myspacev").style.display = "none";
		</script>
		{% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for message in messages %} {% if "Error" not in message[1]: %}
		<div class="alert alert-info">
			<strong>Success!</strong> {{ message[1] }}
		</div>{% endif %} {% if "Error" in message[1]: %}
		<div class="alert alert-warning">
			{{ message[1] }}
		</div>{% endif %} {% endfor %} {% endif %} {% endwith %}
	</div><br />
</body>
</html>